{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio | Portafolio{% endblock %}

{% block content %}
    
    <section class="card card-body mt-5">
        <div>
            <h1 class="display-3 text-center">Victor Manuel Nieto Licona</h1>
            <h3 class="text-center text-secondary" style="letter-spacing: 1.5px;">Egresado de Ingeniería en Computación</h3>
        </div>
        <hr>
        <div class="px-5 text-center">
            <p style="text-align: justify;">"Soy recién egresado de la Licenciatura en Ingeniería en Computación, con enfoque en Desarrollo de Software en busca de aplicar y ampliar mis habilidades y conocimientos en un entorno profesional con el objetivo de contribuir a la creación, implementación y mantenimiento de sistemas y aplicaciones que aporten valor. He desarrollado proyectos académicos y personales como aplicaciones móviles, chatbot básico basado en grafos, programas sencillos con interfaz para simular resultados de eventos, páginas web, bases de datos relacionales, implementación de servidores locales, desarrollo de videojuegos 2D y 3D, entre otros."</p>
            <a class="btn btn-dark mb-3 mt-1" style="background: #020059;" href="{% url 'proyectos' %}">
                Ver proyectos
            </a>
        </div>
    </section>

    <section class="card card-body mt-3">
        <h2 class="text-center">Educación</h2>
        <div class="text-center pt-2">
            <h4>Licenciatura en Ingeniería en Computación</h4>
            <P>
                Facultad de Estudios Superiores Aragón • UNAM <br>
                *Titulación en proceso por alto rendimiento académico (promedio 9.72)
            </P>
            <P></P>
        </div>
        <div class="text-center pt-3 pb-3">
            <img src="{% static 'portafolio/img/unam-logo.png' %}" title="UNAM" class="img-fluid mx-3" style="width: 80px;" alt="Logo UNAM" loading="lazy">
            <img src="{% static 'portafolio/img/fes-aragon-logo.png' %}" title="FES Aragón" class="img-fluid mx-3" style="width: 80px;" alt="Logo FES Aragon" loading="lazy">
        </div>
    </section>

    <section class="card card-body mt-3">
        <h2 class="text-center pb-3">Tecnologías y Habilidades</h2>
        <div class="container">
            <div class="row">
                <section class="col-md-6 col-lg-4 card card-body m-2 d-flex flex-column align-items-center justify-content-center">
                    <div class="pt-2 pb-3">
                        <p class="texto-categoria-tec text-center">Lenguajes de programación principales</p>
                        <div class="text-center pt-3 pb-3 pt-1">
                            <img src="{% static 'portafolio/img/python-logo.png' %}" title="Python" class="img-fluid mx-3" style="width: 80px;" alt="Logo Python" loading="lazy">
                            <img src="{% static 'portafolio/img/java-logo.png' %}" title="Java" class="img-fluid mx-3" style="width: 80px;" alt="Logo Java" loading="lazy">
                        </div>
                    </div>
                </section>
                <section class="col-md-6 col-lg-4 card card-body m-2 d-flex flex-column align-items-center justify-content-center">
                    <div class="pt-2">
                        <p class="texto-categoria-tec text-center">Creación y administracón de bases de datos relacionales</p>
                        <div class="text-center pt-3 pb-3">
                            <img src="{% static 'portafolio/img/sql-logo.png' %}" title="SQL" class="img-fluid mx-3" style="width: 80px;" alt="Logo SQL" loading="lazy">
                            <img src="{% static 'portafolio/img/mysql-logo.png' %}" title="MySQL" class="img-fluid mx-3" style="width: 80px;" alt="Logo mysql" loading="lazy">
                        </div>
                    </div>
                </section>
                <section class="col-md-6 col-lg-4 card card-body m-2 d-flex flex-column align-items-center justify-content-center">
                    <div class="pt-2">
                        <p class="texto-categoria-tec text-center">Desarrollo móvil</p>
                        <div class="text-center pt-3 pb-3" style="margin-top: -20px;">
                            <img src="{% static 'portafolio/img/flutter-logo.png' %}" title="Flutter" class="img-fluid mx-3" style="width: 100px;" alt="Logo Flutter" loading="lazy">
                            <img src="{% static 'portafolio/img/dart-logo.png' %}" title="Dart" class="img-fluid mx-3" style="width: 100px;" alt="Logo Dart" loading="lazy">
                        </div>
                    </div>
                </section>
                <section class="col-md-6 col-lg-4 card card-body m-2 d-flex flex-column align-items-center justify-content-center">
                    <div class="pt-2">
                        <p class="texto-categoria-tec text-center">Conocimientos básicos en otras tecnologías</p>
                        <div class="text-center pt-3">
                            <img src="{% static 'portafolio/img/django-logo.png' %}" title="Django" class="img-fluid mx-3 mb-3" style="width: 80px;" alt="Logo Django" loading="lazy">
                            <img src="{% static 'portafolio/img/javascript-logo.png' %}" title="JavaScript" class="img-fluid mx-3 mb-3 rounded" style="width: 80px;" alt="Logo JavaScript" loading="lazy">
                            <img src="{% static 'portafolio/img/php-logo.png' %}" title="PHP" class="img-fluid mx-3 mb-3" style="width: 80px;" alt="Logo PHP" loading="lazy">
                            <img src="{% static 'portafolio/img/c_sharp-logo.png' %}" title="C#" class="img-fluid mx-3 mb-3" style="width: 80px;" alt="Logo C#" loading="lazy">
                            <img src="{% static 'portafolio/img/html5-logo.png' %}" title="HTML5" class="img-fluid mx-3 mb-3" style="width: 80px;" alt="Logo HTML5" loading="lazy">
                            <img src="{% static 'portafolio/img/css-logo.png' %}" title="CSS" class="img-fluid mx-3 mb-3" style="width: 80px;" alt="Logo CSS" loading="lazy">
                        </div>
                    </div>
                </section>
                <section class="col-md-6 col-lg-4 card card-body m-2 d-flex flex-column align-items-center justify-content-center">
                    <div class="pt-2">
                        <p class="texto-categoria-tec text-center">Control de versiones</p>
                        <div class="text-center pt-3 pb-3">
                            <img src="{% static 'portafolio/img/git-logo.png' %}" title="Git" class="img-fluid mx-3" style="width: 80px;" alt="Logo Git" loading="lazy">
                            <img src="{% static 'portafolio/img/github-logo.png' %}" title="GitHub" class="img-fluid mx-3" style="width: 80px;" alt="Logo GitHub" loading="lazy">
                        </div>
                    </div>
                </section>
                <section class="col-md-6 col-lg-4 card card-body m-2 d-flex flex-column align-items-center justify-content-center">
                    <div class="pt-2">
                        <p class="texto-categoria-tec text-center">Desarrollo de videojuegos</p>
                        <div class="text-center" style="margin-top: -25px; margin-bottom: -15;">
                            <img src="{% static 'portafolio/img/unity-logo.png' %}" title="Unity" class="img-fluid" style="width: 150px;" alt="Logo Unity" loading="lazy">
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

{% endblock %}