{% extends 'base.html' %}

{% load static %}

{% block title %}Inicio | Portafolio{% endblock %}

{% block content %}
    
    <section class="card card-body mt-5">
        <div>
            <h1 class="display-3 text-center">
                <span class="letra-hover-efecto">V</span><span class="letra-hover-efecto">i</span><span class="letra-hover-efecto">c</span><span class="letra-hover-efecto">t</span><span class="letra-hover-efecto">o</span><span class="letra-hover-efecto">r</span>
                <span class="letra-hover-efecto">M</span><span class="letra-hover-efecto">a</span><span class="letra-hover-efecto">n</span><span class="letra-hover-efecto">u</span><span class="letra-hover-efecto">e</span><span class="letra-hover-efecto">l</span>
                <span class="letra-hover-efecto">N</span><span class="letra-hover-efecto">i</span><span class="letra-hover-efecto">e</span><span class="letra-hover-efecto">t</span><span class="letra-hover-efecto">o</span>
                <span class="letra-hover-efecto">L</span><span class="letra-hover-efecto">i</span><span class="letra-hover-efecto">c</span><span class="letra-hover-efecto">o</span><span class="letra-hover-efecto">n</span><span class="letra-hover-efecto">a</span>
            </h1>
            <h3 class="text-center text-secondary  texto-subt-efecto" style="letter-spacing: 1.5px;">Egresado de Ingeniería en Computación</h3>
        </div>
        <hr>
        <div class="px-md-5">
            <p>"Recién egresado de Ingeniería en Computación, con enfoque en Desarrollo de Software en busca de aplicar y ampliar mis habilidades y conocimientos en un entorno profesional con el objetivo de contribuir a la creación, implementación y mantenimiento de sistemas y aplicaciones que aporten valor. He aprendido a adaptarme a las tecnologías y herramientas según las necesidades del proyecto, lo cual, me ha permitido desarrollar proyectos como aplicaciones móviles, chatbot básico basado en grafos, programas sencillos con interfaz, sitios web, bases de datos relacionales, implementación de servidores locales, desarrollo de videojuegos, entre otros."</p>
        </div>
        <div class="text-center">
            <a class="btn btn-dark btn-hover-efecto mb-3 mt-1" style="background: #020059;" href="{% url 'proyectos' %}">
                <i class="bi bi-eye-fill"></i> Ver proyectos
            </a>
        </div>
    </section>

    <section class="card card-body mt-3">
        <h2 class="text-center texto-subt-efecto pb-3">Tecnologías y Habilidades</h2>
        <div class="container">
            <div class="row">
                <section class="col-md-6 col-lg-4 card card-body m-2 d-flex flex-column align-items-center justify-content-center bg-light efecto-card-glow">
                    <div class="pt-2 pb-3">
                        <p class="texto-categoria-tec text-center  texto-subt-efecto">Lenguajes de programación principales</p>
                        <div class="text-center pt-3 pb-3 pt-1">
                            <img src="{% static 'portafolio/img/logos/python-logo.png' %}" title="Python" class="img-fluid img-hover-efecto mx-3" style="width: 80px;" alt="Logo Python" loading="lazy">
                            <img src="{% static 'portafolio/img/logos/java-logo.png' %}" title="Java" class="img-fluid img-hover-efecto mx-3" style="width: 80px;" alt="Logo Java" loading="lazy">
                        </div>
                    </div>
                </section>
                <section class="col-md-6 col-lg-4 card card-body m-2 d-flex flex-column align-items-center justify-content-center bg-light efecto-card-glow">
                    <div class="pt-2">
                        <p class="texto-categoria-tec text-center  texto-subt-efecto">Creación y administracón de bases de datos relacionales</p>
                        <div class="text-center pt-3 pb-3">
                            <img src="{% static 'portafolio/img/logos/sql-logo.png' %}" title="SQL" class="img-fluid img-hover-efecto mx-3" style="width: 80px;" alt="Logo SQL" loading="lazy">
                            <img src="{% static 'portafolio/img/logos/mysql-logo.png' %}" title="MySQL" class="img-fluid img-hover-efecto mx-3" style="width: 80px;" alt="Logo mysql" loading="lazy">
                        </div>
                    </div>
                </section>
                <section class="col-md-6 col-lg-4 card card-body m-2 d-flex flex-column align-items-center justify-content-center bg-light efecto-card-glow">
                    <div class="pt-2">
                        <p class="texto-categoria-tec text-center  texto-subt-efecto">Desarrollo móvil</p>
                        <div class="text-center pt-3 pb-3" style="margin-top: -20px;">
                            <img src="{% static 'portafolio/img/logos/flutter-logo.png' %}" title="Flutter" class="img-fluid img-hover-efecto mx-3" style="width: 100px;" alt="Logo Flutter" loading="lazy">
                            <img src="{% static 'portafolio/img/logos/dart-logo.png' %}" title="Dart" class="img-fluid img-hover-efecto mx-3" style="width: 100px;" alt="Logo Dart" loading="lazy">
                        </div>
                    </div>
                </section>
                <section class="col-md-6 col-lg-4 card card-body m-2 d-flex flex-column align-items-center justify-content-center bg-light efecto-card-glow">
                    <div class="pt-2">
                        <p class="texto-categoria-tec text-center  texto-subt-efecto">Conocimientos básicos en otras tecnologías</p>
                        <div class="text-center pt-3">
                            <img src="{% static 'portafolio/img/logos/django-logo.png' %}" title="Django" class="img-fluid img-hover-efecto mx-3 mb-3" style="width: 80px;" alt="Logo Django" loading="lazy">
                            <img src="{% static 'portafolio/img/logos/django-rest-framework-logo.png' %}" title="Django REST Framework" class="img-fluid img-hover-efecto mx-3 mb-3" style="width: 80px;" alt="Logo Django REST Framework" loading="lazy">
                            <img src="{% static 'portafolio/img/logos/spring-boot-logo.png' %}" title="Spring Boot" class="img-fluid img-hover-efecto mx-3 mb-3" style="width: 80px;" alt="Logo Spring Boot" loading="lazy">
                            <img src="{% static 'portafolio/img/logos/javascript-logo.png' %}" title="JavaScript" class="img-fluid img-hover-efecto mx-3 mb-3 rounded" style="width: 80px;" alt="Logo JavaScript" loading="lazy">
                            <img src="{% static 'portafolio/img/logos/php-logo.png' %}" title="PHP" class="img-fluid img-hover-efecto mx-3 mb-3" style="width: 80px;" alt="Logo PHP" loading="lazy">
                            <img src="{% static 'portafolio/img/logos/c_sharp-logo.png' %}" title="C#" class="img-fluid img-hover-efecto mx-3 mb-3" style="width: 80px;" alt="Logo C#" loading="lazy">
                            <img src="{% static 'portafolio/img/logos/html5-logo.png' %}" title="HTML5" class="img-fluid img-hover-efecto mx-3 mb-3" style="width: 80px;" alt="Logo HTML5" loading="lazy">
                            <img src="{% static 'portafolio/img/logos/css-logo.png' %}" title="CSS" class="img-fluid img-hover-efecto mx-3 mb-3" style="width: 80px;" alt="Logo CSS" loading="lazy">
                        </div>
                    </div>
                </section>
                <section class="col-md-6 col-lg-4 card card-body m-2 d-flex flex-column align-items-center justify-content-center bg-light efecto-card-glow">
                    <div class="pt-2">
                        <p class="texto-categoria-tec text-center  texto-subt-efecto">Control de versiones</p>
                        <div class="text-center pt-3 pb-3">
                            <img src="{% static 'portafolio/img/logos/git-logo.png' %}" title="Git" class="img-fluid img-hover-efecto mx-3" style="width: 80px;" alt="Logo Git" loading="lazy">
                            <img src="{% static 'portafolio/img/logos/github-logo.png' %}" title="GitHub" class="img-fluid img-hover-efecto mx-3" style="width: 80px;" alt="Logo GitHub" loading="lazy">
                        </div>
                    </div>
                </section>
                <section class="col-md-6 col-lg-4 card card-body m-2 d-flex flex-column align-items-center justify-content-center bg-light efecto-card-glow">
                    <div class="pt-2">
                        <p class="texto-categoria-tec text-center  texto-subt-efecto">Desarrollo de videojuegos</p>
                        <div class="text-center" style="margin-top: -25px; margin-bottom: -15;">
                            <img src="{% static 'portafolio/img/logos/unity-logo.png' %}" title="Unity" class="img-fluid img-hover-efecto" style="width: 150px;" alt="Logo Unity" loading="lazy">
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <section class="card card-body mt-3">
        <h2 class="text-center  texto-subt-efecto">Educación</h2>
        <div class="text-center pt-2">
            <h4>Licenciatura en Ingeniería en Computación</h4>
            <P>
                Facultad de Estudios Superiores Aragón • UNAM <br>
                *Titulación en proceso por alto rendimiento académico (promedio 9.72)
            </P>
            <P></P>
        </div>
        <div class="text-center pt-3 pb-3">
            <img src="{% static 'portafolio/img/logos/unam-logo.png' %}" title="UNAM" class="img-fluid img-hover-efecto mx-3" style="width: 80px;" alt="Logo UNAM" loading="lazy">
            <img src="{% static 'portafolio/img/logos/fes-aragon-logo.png' %}" title="FES Aragón" class="img-fluid img-hover-efecto mx-3" style="width: 80px;" alt="Logo FES Aragon" loading="lazy">
        </div>
    </section>

{% endblock %}