{% extends 'base.html' %}

{% load static %}

{% block title %}Proyectos | Portafolio{% endblock %}

{% block content %}
    
    <div class="mt-5 mb-4">
        <h1 class="display-4 text-center">Proyectos</h1>
    </div>

    <section>
        <div class="container">
            <div class="row">
                <section class="col-md-6 col-lg-4 card card-body m-2 d-flex flex-column align-items-center justify-content-center">
                    <div class="pt-2">
                        <p class="texto-categoria-tec text-center fw-semibold">Chatbot Sencillo</p>
                        <div>
                            <p style="text-align: justify;">
                                Para este proyecto relacionado con la construcción de un chatbot, la programación del sistema se realizó en Python implementando  diccionarios para apuntar a los distintos temas del chatbot, esto, buscando aplicar la lógica de un grafo. Además, se utilizó el paquete tkinter para crear una sencilla interfaz gráfica que ayudará a que el usuario tenga una experiencia muy parecida a la de las aplicaciones de mensajería convencionales.
                                <br><br>
                                El sistema muestra algunas recomendaciones de contenido multimedia en plataformas como Netflix, HBO Max, Disney+, Youtube y Spotify. Estas recomendaciones corresponden a películas, series, documentales, canciones o canales dependiendo de la plataforma que se le indique al chatbot.
                            </p>
                            <p>
                                <span class="badge bg-warning text-dark">Python</span>
                                <span class="badge bg-warning text-dark">Tkinter</span>
                                <span class="badge bg-warning text-dark"">OpenWeatherMap</span>
                            </p>
                            <div class="text-center">
                                <img src="{% static 'portafolio/img/proyectos/chatbot/prev.png' %}" title="Chatbot" class="img-fluid mx-3" data-bs-toggle="modal" data-bs-target="#modalImagen" style="width: 150px; cursor: zoom-in;" alt="Prev chatbot" loading="lazy">
                            </div>
                        </div>
                        <div class="text-center">
                            <a class="btn btn-dark mb-3 mt-4" style="background: #020059;" href="{% url 'proyecto_chatbot' %}">
                                <i class="bi bi-eye-fill"></i> Ver proyecto
                            </a>
                        </div>
                    </div>
                </section>

                <section class="col-md-6 col-lg-4 card card-body m-2 d-flex flex-column align-items-center justify-content-center">
                    <div class="pt-2">
                        <p class="texto-categoria-tec text-center fw-semibold">App Gestor de Presupuestos</p>
                        <div>
                            <p style="text-align: justify;">
                                La aplicación Gestor de Presupuestos fue diseñada para ayudar al usuario a administrar sus ingresos y egresos de manera local mediante presupuestos que puede elaborar con categorias dinamicamente.
                                <br><br>
                                Con gráficos y reportes, se busca brindar apoyo al usuario en la toma de decisiones y supervisión de sus finanzas.
                            </p>
                            <p>
                                <span class="badge bg-warning text-dark">Android</span>
                                <span class="badge bg-warning text-dark">Dart</span>
                                <span class="badge bg-warning text-dark">Flutter</span>
                                <span class="badge bg-warning text-dark">SQLite</span>
                            </p>
                            <div class="text-center">
                                <img src="{% static 'portafolio/img/proyectos/gestor_presupuestos/prev.jpeg' %}" title="Gestor presupuestos" class="img-fluid mt-2 w-25 border border-dark rounded" data-bs-toggle="modal" data-bs-target="#modalImagen" style="cursor: zoom-in;"  alt="Prev gestor" loading="lazy">
                            </div>
                        </div>
                        <div class="text-center">
                            <a class="btn btn-dark mb-3 mt-4" style="background: #020059;" href="{% url 'proyecto_gestor_presupuestos' %}">
                                <i class="bi bi-eye-fill"></i> Ver proyecto
                            </a>
                        </div>
                    </div>
                </section>

                <section class="col-md-6 col-lg-4 card card-body m-2 d-flex flex-column align-items-center justify-content-center">
                    <div class="pt-2">
                        <p class="texto-categoria-tec text-center fw-semibold">App Guía de Videojuego</p>
                        <div>
                            <p style="text-align: justify;">
                                Esta idea de aplicación se realizó para ayudar a los jugadores de la saga <i>Persona</i> y más específicamente de <i>Persona 4 Golden</i>, porque justamente se tomó como inspiración para construir esta app aplicaciones similares, más en concreto, las apps que ayudan a los jugadores de Monster hunter (un ejemplo MHGUDB en la Play Store), que ayudan recopilando varios datos del juego para que el jugador conozca y busque lo que no puede encontrar en el juego.
                                <br><br>
                                Entonces, esta app esta pensada para ser una guía/wiki para los jugadores de <i>Persona 4</i> y, con ello, recopilar todos los datos del juego para así ya no tener que estar usando 15 diferentes páginas para encontrar lo que buscas, si no, que toda la información se encuentre en una sola app.
                            </p>
                            <p>
                                <span class="badge bg-warning text-dark">Android</span>
                                <span class="badge bg-warning text-dark">Dart</span>
                                <span class="badge bg-warning text-dark">Flutter</span>
                                <span class="badge bg-warning text-dark">Cloud Firestore</span>
                            </p>
                            <div class="text-center">
                                <img src="{% static 'portafolio/img/proyectos/guia_videojuego/prev.jpeg' %}" title="Gestor presupuestos" class="img-fluid mt-2 w-25 border border-dark rounded" data-bs-toggle="modal" data-bs-target="#modalImagen" style="cursor: zoom-in;"  alt="Prev gestor" loading="lazy">
                            </div>
                        </div>
                        <div class="text-center">
                            <a class="btn btn-dark mb-3 mt-4" style="background: #020059;" href="{% url 'proyecto_guia_videojuego' %}">
                                <i class="bi bi-eye-fill"></i> Ver proyecto
                            </a>
                        </div>
                    </div>
                </section>
                
                <section class="col-md-6 col-lg-4 card card-body m-2 d-flex flex-column align-items-center justify-content-center">
                    <div class="pt-2">
                        <p class="texto-categoria-tec text-center fw-semibold">Probabilidades de partidos</p>
                        <div>
                            <p style="text-align: justify;">
                                El objetivo de este proyecto fue simular un evento, por lo cual, se tomó la decisión de construir un sistema en Python con el que se pudieran obtener las probabilidades de que al enfrentarse dos equipos de futbol se obtuvieran como resultado los porcentajes de victoria o empate del encuentro.
                                <br><br>
                                Estas probabilidades se obtienen de los datos introducidos por el usuario, los cuales, corresponden a goles anotados, goles recibidos, partidos jugados, tiros a puerta, entre otros. Los resultados se muestran mediante gráficas para facilitar su visualización y análisis.
                            </p>
                            <p>
                                <span class="badge bg-warning text-dark">Python</span>
                                <span class="badge bg-warning text-dark">Tkinter</span>
                                <span class="badge bg-warning text-dark">Matplotlib</span>
                                <span class="badge bg-warning text-dark">Numpy</span>
                            </p>
                            <div class="text-center">
                                <img src="{% static 'portafolio/img/proyectos/prob_partidos/prev.png' %}" title="Probabilidades partidos" class="img-fluid rounded border border-dark mt-2" data-bs-toggle="modal" data-bs-target="#modalImagen" style="cursor: zoom-in;" alt="Prev probabilidades partidos" loading="lazy">
                            </div>
                        </div>
                        <div class="text-center">
                            <a class="btn btn-dark mb-3 mt-4" style="background: #020059;" href="{% url 'proyecto_prob_partidos' %}">
                                <i class="bi bi-eye-fill"></i> Ver proyecto
                            </a>
                        </div>
                    </div>
                </section>
                
                <section class="col-md-6 col-lg-4 card card-body m-2 d-flex flex-column align-items-center justify-content-center">
                    <div class="pt-2">
                        <p class="texto-categoria-tec text-center fw-semibold">Sistema de recomendaciones sencillo</p>
                        <div>
                            <p style="text-align: justify;">
                                En este proyecto se diseño un clasificador bayesiano ingenuo que permite predecir el comportamiento de un cliente. Esto se utiliza para que el sistema pueda recomendar un tipo de bebida (fría o caliente) dependiendo de si el cliente es una persona menor, adulta o un adulto mayor; y también dependiendo del estado del clima que se le indique (cálido, frío o templado).
                            </p>
                            <p>
                                <span class="badge bg-warning text-dark">Python</span>
                                <span class="badge bg-warning text-dark">Tkinter</span>
                                <span class="badge bg-warning text-dark">Pandas</span>
                            </p>
                            <div class="text-center">
                                <img src="{% static 'portafolio/img/proyectos/recomendador_beb/prev.png' %}" title="Recomendador bebidas" class="img-fluid mt-2" data-bs-toggle="modal" data-bs-target="#modalImagen" style="cursor: zoom-in;" alt="Prev recomendador bebidas" loading="lazy">
                            </div>
                        </div>
                        <div class="text-center">
                            <a class="btn btn-dark mb-3 mt-4" style="background: #020059;" href="{% url 'proyecto_recomendador_beb' %}">
                                <i class="bi bi-eye-fill"></i> Ver proyecto
                            </a>
                        </div>
                    </div>
                </section>
            


            </div>
        </div>
    </section>

{% endblock %}