#navbar {
    transition: top 0.15s;
}

.bg-azulMarinoOscuro {
    background-color: #00052f !important;
    color: white !important;
}

.texto-categoria-tec {
    font-size: 18px;
    letter-spacing: 1.5px;
}

code {
    color: grey !important;
}