{% extends 'base.html' %}

{% load static %}

{% block title %}Chatbot | Portafolio{% endblock %}

{% block content %}

    <div class="mt-5 mb-4">
        <h1 class="display-4 text-center">Chatbot</h1>
    </div>
    
    <section class="card card-body mt-5">
        <div class="px-5 text-center">
            <p style="text-align: justify;">"Soy recién egresado de la Licenciatura en Ingeniería en Computación, con enfoque en Desarrollo de Software en busca de aplicar y ampliar mis habilidades y conocimientos en un entorno profesional con el objetivo de contribuir a la creación, implementación y mantenimiento de sistemas y aplicaciones que aporten valor. He desarrollado proyectos académicos y personales como aplicaciones móviles, chatbot básico basado en grafos, programas sencillos con interfaz para simular resultados de eventos, páginas web, bases de datos relacionales, implementación de servidores locales, desarrollo de videojuegos 2D y 3D, entre otros."</p>
        </div>
    </section>

{% endblock %}