{% extends 'base.html' %}

{% load static %}

{% block title %}Práctica cifrado y descifrado | Portafolio{% endblock %}

{% block content %}

    <div class="mt-5 mb-4">
        <h1 class="display-4 text-center">Práctica de cifrado y descifrado</h1>
    </div>

    <div class="container">
        <div class="row">
            <section class="col-md-6 col-lg-4 card card-body m-1 d-flex flex-column align-items-center justify-content-center bg-light">
                <div class="px-md-5 text-center">
                    <h3>Tecnologías empleadas</h3>
                    <p>
                        <i class="bi bi-code-slash"></i> PHP • JavaScript
                        <br>
                        <i class="bi bi-database-fill"></i> SQL
                        <br>
                        <i class="bi bi-gear-fill"></i> HTML • CSS • bcrypt
                        <br>
                        <i class="bi bi-cloud"></i> InfinityFree
                    </p>
                </div>
            </section>
            
            <section class="col-md-6 col-lg-4 card card-body m-1 d-flex flex-column align-items-center justify-content-center bg-light">
                <div class="px-md-5 text-center">
                    <h3>Repositorio</h3>
                    <p>
                        <i class="bi bi-github"></i>
                        <br>
                        <a class="text-break w-100" href="https://github.com/victornietol/CodigosPracticas/tree/main/PHP/Login_Creacion_Usuarios" target="_blank" rel="noopener noreferrer">https://github.com/victornietol/CodigosPracticas/tree/main/PHP/Login_Creacion_Usuarios</a>
                    </p>
                </div>
            </section>
        </div>
    </div>
    
    <section class="card card-body mt-2">
        <div class="px-md-5 text-center">
            <h3 class="pb-3 pt-3" style="text-align: start;">Descripción</h3>
            <p style="text-align: justify;">
                El objetivo de este proyecto académico fue poner en práctica conceptos básicos de seguridad, mediante la creación de un sitio web donde se le pide a los usuarios crear una cuenta, o en su defecto, iniciar sesión para poder ingresar a la página principal. Además, se utilizó el hosting de InfinityFree para alojar este proyecto, el cual, también cuenta con una base de datos SQL para almacenar a los usuarios registrados y sus credenciales cifradas con ayuda de bcrypt. Por lo tanto, cada vez que se crea un usuario, primero se verifica que no exista, posteriormente, se obtiene un hash con bcryt y ese valor es el que se almacena en la base.
            </p>
            <p style="text-align: justify;">
                Una vez estando en la página principal, el usuario puede aplicar un cifrado o descifrado básico al texto que introduzca según sea el caso. El contenido a cifrar y descifrar acepta tanto texto como carácteres especiales y emojis. Como introducción a la criptografía simétrica, dicho cifrado es muy sencillo, ya que, se puso en práctica un cifrado César. Por lo tanto, para cifrar el mensaje se introduce una llave, la cual, debe ser de hasta máximo 12 carácteres, y permite utilizar letras de la <code>a</code> a la <code>z</code>, números del <code>0</code> al <code>9</code>, así como los carácteres <code>-</code>,<code>_</code>, <code>@</code>, <code>*</code>. 
            </p>
            <p style="text-align: justify;">
                La cadena que introduce el usuario que funciona como llave se procesa de la siguiente manera: De cada carácter, se obtiene su valor binario, después se obtiene el valor decimal, y se hace una sumatoria de todos esos valores obtenidos de cada carácter. Posteriormente, ese valor se utiliza como llave para aplicar el corrimiento de cada carácter correspondiente al cifrado César.
                Mientras que, respecto a la aplicación del cifrado César, se aplica de la siguiente manera: Se obtiene el valor ascii de cada carácter del texto introducido por el usuario como mensaje, después, a ese valor se le suma el valor generado correspondiente a la llave y se le aplica una operación modular para mantener el valor del corrimiento dentro del rango de carácteres ascii posibles, por lo tanto, la operación es la siguiente: <code>(valor_ascci + llave) % máximo_posible_ascii</code>. En consecuencia, para descifrar, se utliza la misma llave con la que se cifro y el proceso es el mismo pero ahora se resta la llave.
            </p>
            <div class="text-center">
                <a class="btn btn-dark mb-3 mt-4" style="background: #020059;" href="https://practica-cifrado.infinityfreeapp.com/" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-box-arrow-up-right me-1"></i> Visitar página
                </a>
            </div>
        </div>
    </section>

    <section id="algotimo_genetico" class="card card-body mt-2">
        <div class="px-md-5">
            <h3 class="pb-3 pt-3" style="text-align: start;">Imágenes</h3>
            <div>
                <h4>Inicio de sesión</h4>
                <img src="{% static 'portafolio/img/proyectos/practica_cifrado/4.png' %}" title="Pantalla de inicio de sesión" class="img-fluid mx-auto d-block rounded" data-bs-toggle="modal" data-bs-target="#modalImagen" style="cursor: zoom-in;" alt="Img sistema 4" loading="lazy">
            </div>
            <div class="mt-4">
                <h4>Registro de usuario</h4>
                <img src="{% static 'portafolio/img/proyectos/practica_cifrado/3.png' %}" title="Pantalla de registro" class="img-fluid mx-auto d-block rounded" data-bs-toggle="modal" data-bs-target="#modalImagen" style="cursor: zoom-in;" alt="Img sistema 3" loading="lazy">
            </div>
            <div class="mt-4">
                <h4>Cifrado de texto</h4>
                <img src="{% static 'portafolio/img/proyectos/practica_cifrado/1.png' %}" title="Cifrado de texto" class="img-fluid mx-auto d-block rounded" data-bs-toggle="modal" data-bs-target="#modalImagen" style="cursor: zoom-in;" alt="Img sistema 1" loading="lazy">
            </div>
            <div class="mt-4 mb-3">
                <h4>Texto cifrado</h4>
                <img src="{% static 'portafolio/img/proyectos/practica_cifrado/2.png' %}" title="Descifrado de texto" class="img-fluid mx-auto d-block rounded" data-bs-toggle="modal" data-bs-target="#modalImagen" style="cursor: zoom-in;" alt="Img sistema 2" loading="lazy">
            </div>
        </div>
    </section>

{% endblock %}